@{
    ViewBag.Title = "Index";
}

@section slider
{
    
    <div class="bannerbg">
        <div class="container clearfix">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="@Url.Content("~/Images/fslide01.jpg")" alt="" />
                        <p class="flex-caption">Servicios para locales de patios de comidas!</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Images/fslide02.jpg")" alt="" />
                            <p class="flex-caption">¿Restaurants extranjeros en tu ciudad? ¡Buscalo aquí!</p>
                        </a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/fslide03.jpg")" alt="" />
                        <p class="flex-caption">Todo tipo de platos!</p>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/fslide04.jpg")" alt="" />
                        <p class="flex-caption">Todo tipo de platos!</p>
                    </li>

                    <li>
                        <img src="@Url.Content("~/Images/fslide05.jpg")" alt="" />
                        <p class="flex-caption">Restaurants de muy buena calidad!</p>
                    </li>

                    <li>
                        <img src="@Url.Content("~/Images/fslide06.jpg")" alt="" />
                        <p class="flex-caption">Busca tu Restaurant en Google Maps!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
<section class="container clearfix">
    <h2>Este es el contenido de index</h2>
</section>